body {
	margin: 0px;
	background-color: #222;
	font-family: Arial;
}

#header {
	margin: auto;
	width: 1000px;
	height: 150px;
	color: white;
	text-align: center;
}

#fullLogo {
	position: relative;
	z-index: -1;
}

#loginSpan {
	font-family: sans-serif;
	font-size: 17px;
	color: white;
	position: relative;
	float: left;
	text-decoration: underline;
}

#main {
	margin: auto;
	width: 1000px;
	height: 800px;
	background-color: #555;
	border-radius: 3px;
}

h2 {
	font-size: 50px;
	color: white;
	text-align: center;
	display: block;
	width: 600px;
	margin: auto;
	padding-top: 100px;
}

.textBox {
	display: block;
	margin: auto;
	border: none;
	height: 35px;
	width: 250px;
	text-align: center;
	font-size: 35px;
}

.button {
	display: block;
	margin: auto;
	border: none;
	width: 150px;
	height: 40px;
	margin-top: 10px;
	cursor: pointer;
	font-size: 35px;
	font-weight: bold;
}

#gameWindow {
	width: 100%;
	height: 100%;
}

#gameTitle {
	font-family: Arial;
	font-size: 50px;
	text-align: center;
	padding-top: 10px;
}

#subHeader {
	text-align: center;
	height: 15px;
}

#leaveGame {
	border: none;
	background: none;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 17px;
	color: white;
	position: relative;
	float: right;
	text-decoration: underline;
}

.windowSection {
	width: 100%;
	border: 1px solid black;
	margin-top: 10px;
}

#theirStats {
	border: none;
	padding-top: 10px;
}

#theirCards {
	width: 800px;
	height: 180px;
	margin: auto;
	overflow-x: hidden;
	border: none;
	text-align: center;
}

#centerWindow {
	height: 200px;
	border: none;
	overflow: hidden;
}

#yourStats {
	border: none;
	padding-top: 10px;
}

#yourCards {
	width: 800px;
	height: 180px;
	margin: auto;
	overflow-x: scroll;
	text-align: center;
	border: none;
}

.stats {
	width: 800px;
	height: 25px;
	margin: 10px auto 10px auto;
}

.stat {
	display: inline;
	margin-left: 90px;
}

.cardTable {
	margin: auto;
}

.card {
	padding: 5px;
	height: 145px;
	width: 125px;
	border: 1px solid black;
	margin-right: 5px;
	background-color: #f2cc85;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}

.cardTitle {
	font-weight: bold;
}

.cardDesc {
	display: block;
	border-top: 1px solid black;
	padding-top: 5px;
	font-size: 15px;
}

.cardBack {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#drawDeck {
	float: left;
	margin-left: 80px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

#chat {
	margin: auto;
	height: 200px;
	width: 345px;
	border: 1px solid black;
	background-color: white;
}

#msgList {
	width: 98%;
	height: 166px;
	border-bottom: 1px solid black;
	padding: 3px 3px 3px 3px;
	overflow-y: hidden;
	overflow-x: hidden;
}

#chatForm {
	display: block;
	width: 100%;
	height: 25px;
	padding: 0px;
}

#msgText {
	width: 285px;
	height: 25px;
	border: none;
	margin: 0px;
	font-family: Arial;
	font-size: 16px;
	padding-left: 5px;
}

#chatSubmit {
	width: 50px;
	height: 25px;
	border: none;
	margin: 0px;
	cursor: pointer;
}

.chatMsg {
	width: 340px;
	word-wrap: break-word;
	border-top: 1px solid #999;
	margin-top: 2.5px;
	padding-top: 2.5px;
}

#lastCard {
	float: right;
	margin-right: 80px;
	position: relative;
	transform: translateY(-105%);
}